header {
	width: 100%;
	margin-top: var(--big);
	position: relative;

	> .container {
		width: 100%;
		height: 100%;
		padding: 25vh var(--container);
		background-color: var(--primary-light-transparent);
		display: grid;
		grid-template-columns: 1fr;

		& > h2 {
			font-size: 2.5rem;
			color: var(--primary-dark-transparent);
		}
		& > h1 {
			font-size: var(--header);
			font-weight: bold;
			line-height: 55px;
		}
		& > p {
			margin-top: var(--big);
			font-style: italic;
		}
	}

	/* video */
	& > video {
		width: 100%;
		height: 100%;
		position: absolute;
		inset: 0;
		object-fit: cover;
		z-index: -1;
	}

	.video-desktop {
		display: none;
	}
	@media (width > 720px) {
		.video-mobile {
			display: none;
		}
		.video-desktop {
			display: flex;
		}
	}
}
