* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

html {
	font-size: 62.5%;
}

@font-face {
	font-family: 'lato';
	src: url('/fonts/Lato-Regular.ttf');
	font-weight: 500;
}

@font-face {
	font-family: 'lato';
	src: url('/lato/Lato-Bold.ttf');
	font-weight: bold;
}

@font-face {
	font-family: 'lato';
	src: url('/lato/Lato-Italic.ttf');
	font-style: italic;
}

body {
	min-height: 100vh;
	background-color: var(--light);
	color: var(--dark);
	font-size: 1.8rem;
	font-family: 'lato';
}

h1,
h2,
h3,
h4,
h5,
h6 {
	text-wrap: pretty;
}

p {
	text-wrap: balance;
}
